/* start main */
/* start hero section */
.main .hero-section{
    background-blend-mode: darken;
    height: 100vh;
    margin-top: -140px;
    padding: 260px;
    background-size: cover;
    background: var(--shadowBlack2) url("./../images/about-page/about-hero-background.webp") no-repeat 60% 60%;
}
.main .hero-section h1{
    font-size: 72px;
    font-weight: lighter;
    letter-spacing: 0.1em;
}
.main .hero-section span{
    font-size: 14px;
    font-weight: 500;
    font-family: var(--secondfont);
    color: var(--white2);
    letter-spacing: 0.05rem;
}
@media (max-width: 1372.5px) {
    .main .hero-section{
        padding: 190px;
    }
}
@media (max-width: 1232.5px) {
    .main .hero-section{
        padding: 220px;
    }
    .main .hero-section h1{
        font-size: 60px;
    }
}
@media (max-width: 1155.5px) {
    .main .hero-section{
        padding: 220px 100px;
    }
}
@media (max-width: 915px) {
    .main .hero-section{
        padding: 240px 50px;
    }
    .main .hero-section h1{
        font-size: 50px;
    }
    .main .hero-section span {
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .main .hero-section{
        margin-top: -90px;
        padding: 240px 50px;
    }
    .main .hero-section h1{
        font-size: 45px;
    }
}
@media (max-width: 555px) {
    .main .hero-section{
        padding: 200px 20px;
    }
    .main .hero-section span {
        font-size: 14px;
    }
}
@media (max-width: 500px) {
    .main .hero-section{
        padding: 200px 0;
    }
}
/* end hero section */
/* start restaurant history */
.main .restaurant-history{
    padding: 100px 0;
}
.main .restaurant-history h2{
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: var(--white2);
}
.main .restaurant-history p{
    font-size: 18px;
    color: var(--shadowWhite);
    font-family: var(--secondfont);
}
.main .restaurant-history .our-heritage-img{
    transform: translateY(0);
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: SlideUp;
    animation-duration: 2s;
}
@media (max-width: 1200px) {
    .main .restaurant-history h2{
        font-size: 50px;
    }
}
@media (max-width: 992px) {
    .main .restaurant-history h2{
        font-size: 40px;
        letter-spacing: 0.07em;
    }
}
@media (max-width: 505px) {
    .main .restaurant-history h2{
        font-size: 35px;
    }
}
/* end restaurant history */
/* start restaurant medals */
.main .restaurant-medals{
    padding: 10px 0;
}
.main .restaurant-medals .restaurant-medal{}
.main .restaurant-medals .restaurant-medal .restaurant-medal-img{}
.main .restaurant-medals .restaurant-medal h2{
    font-size: 26px;
    color: var(--white2);
    letter-spacing: 0.05em;
}
.main .restaurant-medals .restaurant-medal p{
    font-size: 16px;
    font-family: var(--secondfont);
    color: var(--shadowWhite);
}
@media screen and (max-width: 767px){
    .main .restaurant-medals{
        padding: 5px 0;
    }
}
/* end restaurant medals */
/* start award-winning wines */
.main .award-winning-wines{
    padding: 100px 0;
}
.main .award-winning-wines .wines-images{}
.main .award-winning-wines .wines-images .wines-image{}
.main .award-winning-wines .wines-description{}
.main .award-winning-wines .wines-description span, .main .award-winning-wines .wines-description p, .main .award-winning-wines .wines-description a{
    font-family: var(--secondfont);
    color: var(--shadowWhite);
}
.main .award-winning-wines .wines-description span{
    letter-spacing: 0.05em;
    color: var(--maincolor);
    font-size: 14px;
    font-weight: 600;
}
.main .award-winning-wines .wines-description h2{
    font-size: 56px;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: var(--white2);
}
.main .award-winning-wines .wines-description p{
    font-size: 18px;
}
.main .award-winning-wines .wines-description a{
    font-size: 13px;
    font-weight: 500;
}
.main .award-winning-wines .wines-description .discover-more{
    text-decoration: none;
    position: relative;
}
.main .award-winning-wines .wines-description .discover-more::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--maincolor);
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s ease-out;
}
.main .award-winning-wines .wines-description .discover-more:hover::after{
    transform: scaleX(0);
    transform-origin: right;
}
.main .award-winning-wines .wines-description .discover-more:not(:hover)::after{
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.3s ease-out;
}
@media screen and (max-width: 1200px) {
    .main .award-winning-wines .wines-description h2{
        font-size: 45px;
    }
}
@media screen and (max-width: 992px) {
    .main .award-winning-wines{
        padding: 50px 0;
    }
    .main .award-winning-wines .wines-description h2{
        font-size: 32px;
    }
}
@media screen and (max-width: 450px) {
    .main .award-winning-wines .wines-description h2{
        font-size: 28px;
    }
}
/* end award-winning wines */
/* end main */