:root{
    --maincolor : #C3985F;
    --darkMaincolor : #C8935F;
    --white : #fff;
    --white2 : #eee;
    --black : #000;
    --mainfont : "Cormorant Garamond", serif;
    --secondfont : "Jost", sans-serif;
    --shadowWhite : rgba(255, 255, 255, 0.8);
    --shadowWhite2 : rgba(85, 88, 91, 0.4);
    --shadowWhite3 : rgba(88, 91, 94, 0.9);
    --shadowWhite4 : #FFFFFF91;
    --shadowBlack : rgba(0, 0, 0, 0.8);
    --shadowBlack2 : rgba(0, 0, 0, 0.6);
}
a{
    color: var(--white);
    text-decoration: none;
}
body{
    background-color: var(--black);
    font-family: var(--mainfont);
}
.btn{
    transition: transform 0.3s ease-out;
}
.btn:hover{
    transform: translateY(-2px);
}
@keyframes SlideUp {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}