/* start main */
/* start hero section */
.main .hero-section{
    height: 90vh;
    background: var(--shadowBlack2) url("./../images/contact-page/contact-background.webp") no-repeat 60% 60%;
}
@media (max-width: 1232.5px) {
    .main .hero-section h1{
        font-size: 72px;
    }
}
@media (max-width: 915px) {
    .main .hero-section h1{
        font-size: 60px;
    }
}
@media (max-width: 768px) {
    .main .hero-section h1{
        font-size: 60px;
    }
}
@media (max-width: 500px) {
    .main .hero-section h1{
        font-size: 50px;
    }
}
/* end hero section */
/* start menus section */
.main .menus span{
    font-size: 14px;
    font-family: var(--secondfont);
    color: var(--maincolor);
    letter-spacing: 0.05em;
    font-weight: 600;
}
.main .menus h2{
    font-size: 56px;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: var(--white2);
}
.main .menus .menu h3{
    font-size: 21px;
    letter-spacing: 0.1em;
}
@media screen and (max-width: 900px) {
    .main .menus h2{
        font-size: 48px;
    }
}
@media screen and (max-width: 430px) {
    .main .menus h2{
        font-size: 40px;
    }
}
/* end menus section */
/* end main */