:root{
    --maincolor : #C3985F;
    --white : #fff;
    --black : #000;
    --mainfont : "Cormorant Garamond", serif;
    --secondfont : "Jost", sans-serif;
    --shadowWhite : rgba(255, 255, 255, 0.8);
}
a{
    color: var(--white);
    text-decoration: none;
}
.header{
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-blend-mode: darken;
    background: rgba(0, 0, 0, 0.6) url("../images/main_page_background1.jpg") no-repeat center 65%;
}
.header{
    font-family: var(--secondfont);
}
.header .navbar a:hover{

}
.header h1{
    font-size: 72px;
    font-weight: lighter;
    letter-spacing: 0.1em;
    margin-top: 10%;
    font-family: var(--mainfont);
}
@media (max-width: 1200px) {
    .header h1{
        font-size: 60px;
    }
}
@media (max-width: 992px) {
    .header h1{
        font-size: 40px;
    }
}
@media (max-width: 768px) {
    .header h1{
        font-size: 32px;
    }
    .header .header-section1{
        display: none;
    }
}
@media (max-width: 500px) {
    .header h1{
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .header .find-table-btn{
        display: none;
    }
}
.header .nav-item .active{
    text-decoration: underline var(--maincolor) 2px;
    text-underline-offset: 7px;
}
.header .nav-item a{
    color: var(--shadowWhite);
    font-size: 13px;
    font-weight: bold;
    margin: 0 10px;
}
.header span{
    font-size: 15px;
    font-family: var(--secondfont);
    color: var(--shadowWhite);
}
.header button{
    border-radius: 0;
    padding: 8px 30px;
    font-size: 15px;
}
.header .button_menu button{
    color: var(--maincolor);
    background-color: transparent;
    border: 2px solid var(--maincolor);
}
.header .button_menu button:hover{
    color: var(--black);
    background-color: var(--maincolor);
}
@media (max-width: 598px) {
    .header .button_menu button{
        padding: 7px 15px !important;
    }
}