/* start header */
.header{
}
.header-info, .header .navbar, .header button{
    font-family: var(--secondfont);
}
.header .main-navbar{
}
.header .navbar .navbar-nav a, .header .navbar .navbar-nav .dropdown-menu a{
    position: relative;
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
.header .navbar .navbar-nav a::after{
    content: '';
    position: absolute;
    bottom: 4px;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: var(--maincolor);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out;
}
.header .navbar .navbar-nav .dropdown-menu a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--maincolor);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out;
}
.header .navbar .navbar-nav a:hover::after,.header .navbar .navbar-nav .dropdown-menu a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.header .navbar .navbar-nav .dropdown-menu a svg{

}
@media (max-width: 768px) {
    .header-info{
        display: none;
    }
}
@media (max-width: 500px) {
    .header .find-table-btn{
        display: none;
    }
}
.header .navbar .nav-item .active{
    text-decoration: underline var(--maincolor) 2px;
    text-underline-offset: 7px;
}
.header .nav-item a{
    color: var(--shadowWhite);
    font-size: 13px;
    font-weight: bold;
    margin: 0 10px;
}
.header button{
    border-radius: 0;
    padding: 8px 30px;
    font-size: 15px;
}
/* end header */

/* start main */
/* start hero section */
.main .hero-section{
    background-blend-mode: darken;
    height: 100vh;
    margin-top: -140px;
    padding: 260px;
    background-size: cover;
    background: var(--shadowBlack2) url("./../images/home-page/main_page_background1.webp") no-repeat 60% 60%;
}
.main .hero-section h1{
    font-size: 72px;
    font-weight: lighter;
    letter-spacing: 0.1em;
}
.main .hero-section button{
    font-family: var(--secondfont);
}
.main .hero-section span{
    font-size: 15px;
    font-family: var(--secondfont);
    color: var(--shadowWhite);
}
.main .hero-section button{
    border-radius: 0;
    padding: 8px 30px;
    font-size: 15px;
}
@media (max-width: 1372.5px) {
    .main .hero-section{
        padding: 190px;
    }
}
@media (max-width: 1232.5px) {
    .main .hero-section{
        padding: 220px;
    }
    .main .hero-section h1{
        font-size: 60px;
    }
}
@media (max-width: 1155.5px) {
    .main .hero-section{
        padding: 220px 100px;
    }
}
@media (max-width: 915px) {
    .main .hero-section{
        padding: 240px 50px;
    }
    .main .hero-section h1{
        font-size: 50px;
    }
}
@media (max-width: 768px) {
    .main .hero-section{
        margin-top: -90px;
        padding: 240px 50px;
    }
    .main .hero-section h1{
        font-size: 40px;
    }
}
@media (max-width: 555px) {
    .main .hero-section{
        padding: 200px 20px;
    }
}
@media (max-width: 500px) {
    .main .hero-section{
        padding: 200px 0;
    }
    .main .hero-section h1{
        font-size: 30px;
    }
}
.main .hero-section .button-menu button{
    color: var(--maincolor);
    background-color: transparent;
    border: 2px solid var(--maincolor);
    transition: all 0.3s;
}
.main .hero-section .button-menu button:hover{
    color: var(--black);
    background-color: var(--maincolor);
}
@media (max-width: 598px) {
    .main .hero-section .button-menu button{
        padding: 7px 15px !important;
    }
}
/* end hero section */
/* start our-heritage */
.main .our-heritage{

}
.main .our-heritage .our-heritage-description{

}
.main .our-heritage .our-heritage-description span, .main .our-heritage .our-heritage-description p, .main .our-heritage .our-heritage-description a{
    font-family: var(--secondfont);
    letter-spacing: 0.05em;
}
.main .our-heritage .our-heritage-description span{
    color: var(--maincolor);
    font-size: 14px;
    font-weight: 700;
}
.main .our-heritage .our-heritage-description h2{
    font-size: 56px;
    letter-spacing: 0.1em;
}
.main .our-heritage .our-heritage-description p{
    font-size: 18px;
}
.main .our-heritage .our-heritage-description a{
    font-size: 13px;
    font-weight: 700;
}
.main .our-heritage .our-heritage-description a:hover{
}
.main .our-heritage .our-heritage-description .discover-more{
    text-decoration: none;
    position: relative;
}
.main .our-heritage .our-heritage-description .discover-more::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: var(--maincolor);
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s ease-out;
}
.main .our-heritage .our-heritage-description .discover-more:hover::after{
    transform: scaleX(0);
    transform-origin: right;
}
.main .our-heritage .our-heritage-description .discover-more:not(:hover)::after{
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.3s ease-out;
}
.main .our-heritage .our-heritage-img{

}
.main .our-heritage .our-heritage-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 1399.5px) {
    .main .our-heritage .our-heritage-description h2{
        font-size: 46px;
    }
}
@media screen and (max-width: 1199.5px) {
    .main .our-heritage .our-heritage-description h2{
        font-size: 38px;
    }
    .main .our-heritage .our-heritage-description p{
        font-size: 16px;
    }
    .main .our-heritage .our-heritage-description span, .main .our-heritage .our-heritage-description a{
        font-size: 12px;
    }
}
@media screen and (max-width: 439.5px) {
    .main .our-heritage .our-heritage-description h2{
        font-size: 34px;
    }
    .main .our-heritage .our-heritage-description span{
        font-size: 11px;
    }
}
@media screen and (max-width: 343.5px) {
    .main .our-heritage .our-heritage-description h2{
        font-size: 30px;
    }
}
/* end our-heritage */
/* start quick overview */
.main .quick-overview{}
.main .quick-overview .main-img{}
.main .quick-overview .overview-items{}
.main .quick-overview .overview-items .overview-item{}
.main .quick-overview .overview-items .overview-item .overview-item-img, .main .quick-overview .overview-items .overview-item .overview-item-description{
    display: flex;
    flex-grow: 1;
    flex-basis: 385px;
    height: 330px;
}
.main .quick-overview .overview-items .overview-item .overview-item-img{}
.main .quick-overview .overview-items .overview-item .overview-item-img img{
    object-fit: cover;
}
.main .quick-overview .overview-items .overview-item .overview-item-description{}
.main .quick-overview .overview-items .overview-item .overview-item-description .discover-more, .main .quick-overview .overview-items .overview-item .overview-item-description p{
    font-family: var(--secondfont);
    letter-spacing: 0.05em;
}
.main .quick-overview .overview-items .overview-item .overview-item-description .discover-more{
    font-size: 13px;
    text-decoration: none;
    position: relative;
}
.main .quick-overview .overview-items .overview-item .overview-item-description .discover-more::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: var(--maincolor);
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s ease-out;
}
.main .quick-overview .overview-items .overview-item .overview-item-description .discover-more:hover::after{
    transform: scaleX(0);
    transform-origin: right;
}
.main .quick-overview .overview-items .overview-item .overview-item-description .discover-more:not(:hover)::after{
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.3s ease-out;
}
@media screen and (max-width: 1399.5px){
    .main .quick-overview .overview-items .overview-item .overview-item-img, .main .quick-overview .overview-items .overview-item .overview-item-description{
        height: 285px;
    }
}
@media screen and (max-width: 1199.5px){
    .main .quick-overview .overview-items .overview-item .overview-item-img, .main .quick-overview .overview-items .overview-item .overview-item-description{
        height: 240px;
    }
    .main .quick-overview .overview-items .overview-item .overview-item-description h2{
        font-size: 22px;
    }
}
@media screen and (max-width: 991.5px){
    .main .quick-overview .overview-items .overview-item .overview-item-img, .main .quick-overview .overview-items .overview-item .overview-item-description{
        height: 200px;
    }
    .main .quick-overview .overview-items .overview-item .overview-item-description h2{
        font-size: 18px;
    }
}
@media screen and (max-width: 767.5px){
}
/* end quick overview */
/* start menus */
.main .menus{}
.main .menus .menu{}
.main .menus .menu a{
    transition: all 0.5s;
}
.main .menus .menu a:hover{
    color: var(--maincolor);
}
.main .menus .menu .menu-img{
    transition: transform 0.3s ease-out;
}
.main .menus .menu .menu-img:hover{
    transform: translateY(-8px);
}
.main .menus .menu .menu-img img{
    border: 1px solid var(--maincolor);
    border-radius: 5px;
}
.main .menus .menu h2{
    font-size: 21px;
    letter-spacing: 0.1em;
}
/* end menus */
/* start restaurant instructions */
.main .restaurant-instructions{}
.main .restaurant-instructions .about-items{
    position: relative;
}
.main .restaurant-instructions .about-items::before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: var(--maincolor);
}
.main .restaurant-instructions .about-items .about-item{
    padding: 30px 10px;
}
.main .restaurant-instructions .about-items .about-item h2{
    font-size: 25px;
    letter-spacing: 0.2em;
    color: var(--maincolor);
}
.main .restaurant-instructions .about-items .about-item address, .main .restaurant-instructions .about-items .about-item p, .main .restaurant-instructions .about-items .about-item a{
    font-family: var(--secondfont);
    letter-spacing: 0.02em;
    color: var(--shadowWhite);
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 5px;
}
.main .restaurant-instructions .about-items .about-item address{}
.main .restaurant-instructions .about-items .about-item p{}
.main .restaurant-instructions .about-items .about-item p a{
    transition: all 0.5s;
}
.main .restaurant-instructions .about-items .about-item p a:hover{
    color: var(--maincolor);
}
.main .restaurant-instructions .dress-code-col{
    background-image: url("./../images/home-page/code-dress.webp");
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    height: 680px;
    width: 560px;
}
.main .restaurant-instructions .dress-code-col .dress-code{
    background-color: var(--shadowBlack2);
    border-radius: 5px;
    border: 1px solid var(--maincolor);
    width: 60%;
    padding: 60px 40px;
}
.main .restaurant-instructions .dress-code-col .dress-code h2{
    font-size: 25px;
    letter-spacing: 0.2em;
    color: var(--maincolor);
}
.main .restaurant-instructions .dress-code-col .dress-code p{
    font-family: var(--secondfont);
    letter-spacing: 0.05em;
    color: var(--white2);
}
@media screen and (max-width: 1400px) {
    .main .restaurant-instructions .dress-code-col{
        width: 480px;
        margin-left: 5px;
    }
    .main .restaurant-instructions .dress-code-col .dress-code{
        width: 60%;
        padding: 40px 20px;
    }
}
@media screen and (max-width: 991.5px) {
    .main .restaurant-instructions .row{
        justify-content: center;
    }
    .main .restaurant-instructions .dress-code-col{
        width: 100%;
    }
    .main .restaurant-instructions .dress-code-col .dress-code{
        width: 75%;
    }
}
@media screen and (max-width: 766px) {
    .main .restaurant-instructions .dress-code-col{
        background-color: var(--shadowBlack2);
    }
}
@media screen and (max-width: 576px) {
    .main .restaurant-instructions .about-items::before{
        width: 90%;
        left: 5%;
    }
    .main .restaurant-instructions .about-items .about-item{
        padding-left: 5%;
    }
    .main .restaurant-instructions .dress-code-col .dress-code{
        width: 90%;
    }
}
/* end restaurant instructions */
/* start make reservation */
.main .make-reservation{
    background-size: cover;
    background-blend-mode: darken;
    background: var(--shadowBlack2) url("../images/home-page/make-reservation.webp") no-repeat center 65%;
}
.main .make-reservation .stars{}
.main .make-reservation h2{
    font-size: 48px;
    letter-spacing: 0.1em;
}
.main .make-reservation button, .main .make-reservation p{
    font-family: var(--secondfont);
    letter-spacing: 0.05em;
}
.main .make-reservation button{
    border-radius: 0;
    padding: 8px 30px;
    font-size: 15px;
}
.main .make-reservation .button-book-table button{
    color: var(--maincolor);
    background-color: transparent;
    border: 2px solid var(--maincolor);
    transition: all 0.3s;
}
.main .make-reservation .button-book-table button:hover{
    color: var(--black);
    background-color: var(--maincolor);
}
@media (max-width: 598px) {
    .main .make-reservation h2{
        font-size: 36px;
    }
    .main .make-reservation .button-book-table button{
        padding: 7px 15px !important;
    }
}
.main .make-reservation p{
    color: var(--white2);
}
/* end make reservation */
/* end main */

/* start footer */
.footer{
    letter-spacing: 1.1px;
}
.footer .nav-footer .nav-item h2{
    font-size: 16px;
    margin-bottom: 20px;
}
.footer .nav-footer .nav-item address, .footer .nav-footer .nav-item a{
    font-family: var(--secondfont);
    font-size: 14px;
    color: var(--white2);
    font-weight: 500;
}
.footer .nav-footer .nav-item a{
    transition: all 0.5s ease-out;
}
.footer .nav-footer .nav-item a:hover{
    color: var(--maincolor);
    transform: scale(0.9);
}
.footer .nav-footer .nav-item .reserve{
    /*text-decoration: underline var(--maincolor) 2px;
    text-underline-offset: 7px;*/
    text-decoration: none;
    position: relative;
}
.footer .nav-footer .nav-item .reserve::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--maincolor);
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s ease-out;
}
.footer .nav-footer .nav-item .reserve:hover::after{
    transform: scaleX(0);
    transform-origin: right;
}
.footer .nav-footer .nav-item .reserve:not(:hover)::after{
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.3s ease-out;
}
.footer .nav-footer .nav-item a svg{
    width: 25px;
    height: 25px;
    fill: var(--shadowWhite);
    transition: all 0.5s;
}
.footer .nav-footer .nav-item a svg:hover{
    fill: var(--maincolor);
}
.footer .elementor-section{
    font-family: var(--secondfont);
    font-size: 13px;
    color: var(--shadowWhite);
}
.footer .elementor-section a{
    transition: all 0.5s;
}
.footer .elementor-section a:hover{
    color: var(--maincolor);
}
@media screen and (max-width: 991.5px) {
    .footer .elementor-section{
        text-align: center;
    }
    .footer .elementor-section .privacy-policy{
        justify-content: center;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 576px) {
    .footer .elementor-section .elementor-link{
        margin-bottom: 10px;
    }
}
/* end footer */