/* start main */
/* start hero section */
.main .hero-section{
    height: 90vh;
    background: var(--shadowBlack2) url("./../images/private-dining-page/private-dining-background.webp") no-repeat 60% 60%;
}
/* end hero section */
/* start book event section */
.main .book-event{
    padding: 100px 0;
}
.main .book-event h2{
    font-size: 60px;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: var(--white2);
}
.main .book-event p{
    font-size: 18px;
    font-family: var(--secondfont);
    color: var(--shadowWhite);
    font-weight: 500;
}
.main .book-event button{
    font-family: var(--secondfont);
    border-radius: 0;
    padding: 8px 30px;
    font-size: 13px;
    letter-spacing: 0.05em;
    font-weight: 500;
}
.main .book-event .button-menu button{
    color: var(--maincolor);
    background-color: transparent;
    border: 2px solid var(--maincolor);
    transition: all 0.3s;
}
.main .book-event .button-menu button:hover{
    color: var(--black);
    background-color: var(--maincolor);
}
@media (max-width: 598px) {
    .main .book-event .button-menu button{
        padding: 7px 15px !important;
    }
}
@media (max-width: 768px) {
    .main .book-event h2 {
        font-size: 50px;
    }
}
@media (max-width: 540px) {
    .main .book-event{
        padding: 60px 0;
    }
    .main .book-event h2 {
        font-size: 38px;
    }
}
@media (max-width: 400px) {
    .main .book-event h2 {
        font-size: 30px;
    }
    .main .book-event p {
        font-size: 16px;
    }
}
/* end book event section */
/* start plan a party section */
.main .plan-a-party{
    padding-bottom: 100px;
}
.main .plan-a-party .plan-a-party-description span, .main .plan-a-party .plan-a-party-description p{
    font-family: var(--secondfont);
    color: var(--white2);
}
.main .plan-a-party .plan-a-party-description span{
    color: var(--maincolor);
    font-size: 14px;
    font-weight: 600;
}
.main .plan-a-party .plan-a-party-description h2{
    font-size: 56px;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: var(--white2);
}
.main .plan-a-party .plan-a-party-description p{
    font-size: 18px;
}
.main .plan-a-party .plan-a-party-description .party-details{}
.main .plan-a-party .plan-a-party-description .party-details p{
    font-size: 16px;
    position: relative;
    margin-bottom: 7px;
}
.main .plan-a-party .plan-a-party-description .party-details p span{
    font-weight: 700;
    font-size: 20px;
    color: var(--maincolor);
    position: absolute;
    left: 0;
    top: 0;
}
.main .plan-a-party .plan-a-party-img{
    transform: translateY(0);
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: SlideUp;
    animation-duration: 2s;
}
.main .plan-a-party .plan-a-party-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 1399.5px) {
    .main .plan-a-party .plan-a-party-description h2{
        font-size: 46px;
    }
}
@media screen and (max-width: 1199.5px) {
    .main .plan-a-party{
        padding-bottom: 70px;
    }
    .main .plan-a-party .plan-a-party-description h2{
        font-size: 38px;
    }
    .main .plan-a-party .plan-a-party-description p{
        font-size: 16px;
    }
    .main .plan-a-party .plan-a-party-description span, .main{
        font-size: 12px;
    }
}
@media screen and (max-width: 439.5px) {
    .main .plan-a-party .plan-a-party-description h2{
        font-size: 34px;
    }
    .main .plan-a-party .plan-a-party-description span{
        font-size: 11px;
    }
}
@media screen and (max-width: 343.5px) {
    .main .plan-a-party .plan-a-party-description h2{
        font-size: 30px;
    }
}
/* end plan a party section */
/* end main */